<!DOCTYPE html>
<html>

  <head>
    <title>OnTheMove Booking Service - {{ title }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container-fluid">

    <!-- HEADER -->
    <div class="page-header">
      <h1>{{ title }}</h1>
    </div>

    <!-- SIDE MENU -->
	<div class="col-md-2">
	  <a href="{{ url_for('users_showall') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a><br/>
	  <a href="{{ url_for('vehicles_showall') }}"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Vehicles</a><br/>
	  <hr>
	  <b>On The Move</b><br/>
	  <a href="{{ url_for('gss_showall') }}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Ground Stations</a><br/>
	  <a href="{{ url_for('reservations_showall') }}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Reservations</a></li>
          <hr>
	  <b>Traditional</b><br/>
	  <a href="{{ url_for('evses_showall') }}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> EVSEs</a><br/>
	  <a href="{{ url_for('reservations_showall') }}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Reservations</a></li>
	</div>
    
    <!-- CONTENT -->
    {% block content %}{% endblock %}
    <!-- END CONTENT -->

    <!-- FOOTER -->

    </div> <!-- end of container-fluid -->
    
  </body>

</html>
