{% extends "base.html" %}
{% block content %}
  
	<!-- BODY -->
	<div class="col-md-10">

   <form method="post" action="{{ url_for('users_create') }}">
     <div class="form-group">
       <label for="name">Full name:</label>
       <input type="text" name="name" /><br />
       <label for="name">Nickname:</label>
       <input type="text" name="nickname" /><br />
       <label for="name">Password:</label>
       <input type="password" name="password" /><br />
     </div>
     <input type="submit" />    
   </form>
   </div>

{% endblock %}
