{% extends "base.html" %}
{% block content %}
  
	<!-- BODY -->
	<div class="col-md-10">

   <form method="post" action="{{ url_for('reservations_create') }}">

     <div class="form-group">
       Ground Station: <select name="gs">
	 {% for gs in gss %}
	 <option value={{ gs["gs_id"] }}>{{ "%s" % (gs["gs_name"]) }}</option>
	 {% endfor %}
       </select><br/>
     </div>

     <div class="form-group">
       User: <select name="user_car">
	 {% for vehicle in vehicles %}
	 <option value={{ "%s|%s" % (vehicle["vehicle_id"], vehicle["vehicle_user_uid"]) }}>{{ "%s %s (%s)" % (vehicle["vehicle_manufacturer"], vehicle["vehicle_model"], vehicle["vehicle_user_name"]) }}</option>
	 {% endfor %}
       </select><br/>
     </div>
     <input type="submit" value="Reserve" />    
   </form>
   </div>

{% endblock %}
