{% extends "base.html" %}
{% block content %}
  
	<!-- BODY -->
	<div class="col-md-10">

   <form method="post" action="{{ url_for('vehicles_create') }}">
     <div class="form-group">
       <label for="manufacturer">Manufacturer:</label>
       <input type="text" name="manufacturer" /><br />
     </div>
     <div class="form-group">
       <label for="model">Model:</label>
       <input type="text" name="model" /><br />
     </div>
     <div class="form-group">
       User: <select name="user_uri">
	 {% for user in users %}
	 <option value={{ user.user_uri }}>{{ user.user_uid }}</option>
	 {% endfor %}
       </select><br/>
     </div>
     <input type="submit" />    
   </form>
   </div>

{% endblock %}
