{% extends "base.html" %}
{% block content %}
  	
	<!-- BODY -->
	<div class="col-md-10">


   <form method="post" action="{{ url_for('gss_create') }}">
     <div class="form-group">
       <label for="Name">Name:</label>
       <input type="text" name="name" placeholder="GroundStation Name"/><br />
     </div>
     <div class="form-group">
       <label for="slatitude">Start Latitude:</label>
       <input type="text" name="slatitude" /><br />
     </div>
     <div class="form-group">
       <label for="slongitude">Start Longitude:</label>
       <input type="text" name="slongitude" /><br />
     </div>
     <div class="form-group">
       <label for="elatitude">End Latitude:</label>
       <input type="text" name="elatitude" /><br />
     </div>
     <div class="form-group">
       <label for="elongitude">End Longitude:</label>
       <input type="text" name="elongitude" /><br />
     </div>
     <input type="submit" value="Create" />    
   </form>

   </div>

{% endblock %}
