<html>
  <head>
    <title>Vehicles</title>
  </head>

  <body>

    <h1>Vehicles</h1>
    
    <table>
      
      <!-- Table Heading -->
      <tr>
	<th>Car</th>
	<th>Owner</th>
      </tr>

      {% for entry in entries %}
      <tr>
	<td><a href="{{ url_for('vehicles_controller_show', vehicle_id=entry['vehicle_id']) }}">{{ entry['brand'] + entry['model'] }}</a></td>
	<td><a href="{{ url_for('users_controller_show', user_id=entry['person_uid']) }}">{% print entry["person_name"] %}</a></td>
      <tr>
	{% endfor %}

    </table>

  </body>
</html>
