<!DOCTYPE html>
<html>
  <head>
    <title>Reservation {{ entry["reservation_id"] }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container-fluid">

    <div class="page-header">
    <h1>Reservation {{ entry["reservation_id"] }}</h1>
    </div>

      <div class="row-fluid">

	<!-- SIDE -->
	<div class="col-md-2">
	  <ul>
	    <li><a href="{{ url_for('users_showall') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
	    <li><a href="{{ url_for('vehicles_showall') }}"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Vehicles</a></li>
	    <li><a href="{{ url_for('gss_showall') }}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Ground Stations</a></li>
	    <li><a href="{{ url_for('reservations_showall') }}"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Reservations</a></li>
	  </ul>
	</div>
	
	<!-- BODY -->
	<div class="col-md-10">

	  <div class="row-fluid">
	  <h3>Reservation</h3>

	  <table class="table table-striped table-hover">
	    
	    <tbody>
	      <tr>
		<td><b>Vehicle:</td>
		<td><a href="{{ url_for('vehicles_show', vehicle_id=entry['vehicle_id']) }}">
		    {{ entry["vehicle_manufacturer"] }}&nbsp;{{ entry["vehicle_model"] }}</td>
	      </tr>

	      <tr>
		<td><b>User:</b></td>
		<td><a href="{{ url_for('users_show', user_id=entry['user_id']) }}">{{ entry["user_name"] }}</td>
	      </tr>
	      
	      <tr>
		<td><b>Ground Station</b></td>
		<td><a href="{{ url_for('gss_show', gsid=entry['gs_id'] ) }}">{{ entry["gs_id"] }}</td>
	      </tr>

	    </tbody>

	  </table>
	  </div>

	</div>
      </div>
    </div>

  </body>
</html>
