{% extends "base.html" %}
{% block content %}


	<!-- BODY -->
	<div class="col-md-10">

	  <h3>{{ entry["person_name"] }}</h3>

	  <ul>
	    <li><b>Person Name:</b>&nbsp;{{ entry["person_name"] }}</li>	   
	    <li><b>Person UID:</b>&nbsp;{{ entry["person_uid"] }}</li>	   
	  </ul>
	  
	  <h3>Vehicles</h3>

    <table class="table table-striped table-hover">
      
      <!-- Table Heading -->
      <thead>
      <tr>
	<th>Manufacturer</th>
	<th>Brand</th>
      </tr>
      </thead>

      <tbody>
      {% for vehicle in entry["vehicles"] %}
      <tr>
	<td><a href="{{ url_for('vehicles_show', vehicle_id=vehicle['vehicle_id']) }}">{{ vehicle['brand'] }}</a></td>
	<td><a href="{{ url_for('vehicles_show', vehicle_id=vehicle['vehicle_id']) }}">{{ vehicle['model'] }}</a></td>
      </tr>
	{% endfor %}
      </tbody>

    </table>

	</div>
      </div>

{% endblock %}
